/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */
@font-face {
	font-family: 'Baskerville';
	src: url(../fonts/Baskerville.ttc);
}

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

h1 {
	font-size: 5em;
	font-weight: bold;
	font-family: 'Baskerville', serif;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	margin: 0 0 5px;
}

#featured img {
	border: 5px rgb(152, 173, 166) solid;
}

h2 {
	font-size: 2em;
	color: #99ADA6;
}

p {
	color: #555;
	font-size: 1em;
	margin: 0 0 20px 0;
}

.small {
	font-size: 0.8em;
}

/*////////// Section Styles //////////*/


header a {
	color: #99ADA6;
	text-decoration: none;
}

header a:hover {
	color: #6f7f7a;
}

#featured img {
	border: 5px #6f7f7a solid;
}

#featured a {
	color: #1783bb;
	text-decoration: none;
}

#featured a:hover {
	text-decoration: underline;
}

#press {
	margin-bottom: 20px;
}

#press img {
	border: 5px #ccc solid;
	padding: 1px;
}

#press img:hover {
	border: 5px #99ADA6 solid;
}

footer {
	text-align: right;
	background: #fff;
}